@media screen and (max-width: 600px) {
    .main{
        height: 400px;
        
    }
    .go{
        position: relative;
        bottom: 390px;
        right: 90px;
        font-size: 10px;
    }
     .singup {
       position: relative;
       font-size: 10px; 
       color: white;
       right: 850px;
        bottom: 129px
            }
    .login{
       position: relative;
       font-size: 10px; 
       color: white;
       right: 800px;
       bottom: 110px;
    }
    
    .best{
        font-size: 13px;
        position: relative;
        left: 40px;
        bottom: 280px;
        
    }
    
    .zomato{
        font-size: 45px;
        position: relative;
        left: 100px;
        bottom: 300px;
        
    }
    .text{
        position: relative;
        border: 1px;
        width: 260px;
        left: 48px;
        height: 30px;
        bottom:260px; 
        font-size: 9px;
    }
    .se{
        position: absolute;
        right:61px;
        top:229px;
        height: 25px;
        width: 25px
        
    }
    .flood img{
        height: 120px;
        width: 160px;
       
    }
    .first{
        font-size: 13px;
        margin-top: -200px;
        margin-left: -80px
    }
    .second{
         font-size: 13px;
        margin-top: -200px;
        margin-left: -200px
    }
    .thrid{
        font-size: 13px;
        margin-top: -30px;
        margin-left: -662px;
    }
    .forth{
          font-size: 13px;
        margin-top: -30px;
        margin-left: -782px;
    }
    .name{
        font-size:25px;
        position: relative;
        bottom: 140px;
        right: 80px;
    }
    .tag{
        font-size: 8px;
        margin-left: 20px;
        position: relative;
        bottom: 90px;
            
    }
    .floor img{
         height: 155px;
        width: 160px;
    }
    .one{
        font-size: 13px;
        position: relative;
        bottom:115px;
         margin-left: 12px
    }
    .two{
          font-size: 13px;
        position: relative;
        bottom:324px;
        margin-left: 182px
    }
    .three{
          font-size: 13px;
        position: relative;
        bottom:360px;
        margin-left: 12px
    }
    .four{
         font-size: 13px;
        position: relative;
        bottom:570px;
        margin-left: 182px
    }
    .loca{
        font-size:15px;
        bottom: 1400px;
        position: relative;
        margin-left:-318px;
              
    }
    .a{
        position: relative;
        width: 10px;
        
    }
}