*{margin: 0; padding: 0 ;  font-family: 'raleway', sans-serif }
header{
    width: 100;
   height: 100vh;
    
}

navsection{
   
}
 
logo{


}

nav{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #be3144;
    position: fixed;
    top: 0px;
    width: 100%;
    

}
    
nav a{
    float: right;
    display: block;
    color: #f0f0f0;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    height: 30px;
    font-size: 25px;
    font-family: 'raleway', sans-serif;
    justify-content: center;
    padding: 20px;
}

nav a:hover{
    border:1px solid black ;
    border-color: black;
    color: wheat;
    background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%);

}


h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color:white;
    padding-top: 130px;
    font-size: 60px;
}

h3{
    text-align: center;
    color: #be3144;
    padding: 50px;
    font-size: 30px;
}
body{
    overflow: scroll;
    margin: 0px;
    background-color: #45567d;
    
}
h2{
    padding-top: 370px;
    font-size: 50px;
    color: white;
    font-family: 'raleway', sans-serif;
    text-align: center;
  

}

img{
    padding-left: 30px;
    padding-top: 70px;
}
.image-caption{
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'poppins', sans-serif;
    
    
    
}


button{
 
 align-items: center;
 margin-left: 42%;
  font-size: 35px;
 border: 1px black solid ;
 margin-top:100px ;
 margin-bottom: 100px;
 cursor: pointer;
 background-color: black;
 font-style: italic;
 color: #f0f0f0;
 text-decoration: none;
 padding: 10px 20px;
 border-radius: 25px;  
}

.button :hover{
    background-color: red;
}  

footer{
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); height: 8000px;
    height: 700px;
    background-repeat: no-repeat;
    text-align: center;
    color: #f0f0f0;
  }

 .work{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color:white;
    padding-top: 200px;
    font-size: 60px;
}
  p{
font-size: 23px;
}

  .media img{
 height: 20px;
 width: 20px;
}

 
.facebook{
    padding-left: 300px;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
  transition: both 0.3s linear;
  box-sizing: border-box;
  cursor: pointer;
}
.github{
  
    font-size: 25px;
    font-family: 'poppins', sans-serif; 
    transition: all 0.3s linear;
    cursor: pointer;
}
.twitter{
  
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    transition: all 0.3s linear ;
    cursor: pointer;
}
.call{
    
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    transition: all 0.3s linear ;
    cursor: pointer;
}
.email{
    
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    transition: all 0.3s ease-out ;
    text-shadow: 2px 2px 1px ,white ;
    animation: alternate;
    cursor: pointer;
}

 .facebook :hover{
     padding-top: 8px;
     
 }

 .github :hover {
    padding-top: 8px;
 }

 .twitter :hover{
    padding-top: 8px;
 }

 .call :hover{
    padding-top: 8px;
 }

 .email :hover{
    padding-top: 8px;
 }


 

 
  
    
    

     