.car{
    border: 10px solid #1881ec;
    border-radius: 33%;
    height: 260px;
    width: 850px;
    background-color: #03A9F4;
    position: absolute;
    display: flex;
    margin-top: 199px;
    margin-left: 250px;
}

roof{
    border: 35px solid #03A9F4;
    border-radius: 30%;
    height: 150px;
    width: 470px;
    position: absolute;
    margin-left: 360px;
    margin-top: 38px;
    background-color: #03A9F4;
}

.box{
    border: 1px solid white;
    background-color: white;
    border-radius: 10%;
    height: 180px;
    width: 245px;
    top: 50px;
    left: 530px;
    position: absolute;
    z-index: 1;
    
}

.window{
    border: 6px solid steelblue;
    height: 380px;
    width: 256px;
    position: absolute;
    border-radius: 10%;
    left: 520px;
    z-index: 1;
    top: 40px;
}

.Alight{
    border: 1px solid red;
    height: 55px;
    width: 15px;
    position: absolute;
    background-color: red;
    border-radius: 10px;
    left: 253px;
    top: 310px;
}

.Blight{
    border: 1px solid yellow;
    height: 55px;
    width: 15px;
    position: absolute;
    background-color: yellow;
    border-radius: 10px;
    left: 1118px;
    top: 310px;
}


.Awheel{
    border: 5px solid gray;
    height: 170px;
    width: 170px;
    background-color: #000000;
    border-radius: 50%;
    left: 350px;
    position: absolute;
    top: 380px;
    
}

.Ainside{
    border: 5px solid white;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    left: 385px;
    position: absolute;
    top: 415px;
}

.Bwheel{
    border: 5px solid gray;
    height: 170px;
    width: 170px;
    background-color: #000000;
    border-radius: 50%;
    left: 790px;
    position: absolute;
    top: 380px;
    
}

.Binside{
    border: 5px solid white;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    left: 825px;
    position: absolute;
    top: 415px;
}

.glass{
    border: 5px solid white;
    height: 150px;
    width: 120px;
    background-color: #ffffff;
    border-top-right-radius: 100%;
    border-top-left-radius: 0px;
    position: absolute;
    left: 790px;
    top: 64px;
    z-index: 1;
    
}



.half-circle {
    width: 550px;
    height: 200px; 
    background-color:  #03A9F4;
    border-top-left-radius: 600px;  
    border-top-right-radius: 600px; 
    border: 10px solid #1881ec ;
    border-bottom: 0;
    position: absolute;
    margin-left: 360px;
    margin-top: 8px;

}

.gl{
    border: 5px solid white;
    height: 150px;
    width: 95px;
    background-color: #ffffff;
    border-top-right-radius: 0%;
    border-top-left-radius: 200px;
    position: absolute;
    left: 409px;
    top: 64px;
    z-index: 1;
}








