*{margin: 0; padding: 0; }

body{
    display: flex;
    flex-wrap: wrap;
    font-family: Okra,Helvetica,sans-serif;
     
     
}



nav{
   position:absolute;
   bottom: 580px;
   left: 1090px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

.go{
    position: absolute;
    margin-left: 120px;
    bottom: 580px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.zomato{
    font-size: 90px;
    bottom: 360px;
    left: 530px;
    color:white;
    position: absolute;
}

.best{
    font-size: 35px;
    bottom: 305px;
    left: 310px;
    color:white;
    position: absolute;
}

.text{
    border: 5px solid white;
    border-radius: 8px ;
    background-color: white;
    bottom: 230px;
    left: 350px;
    position: absolute;
    padding: 10px;
    width: 600px;
    cursor: text;
    
}

.flood{
    position: absolute;
    padding-right: 60px;
    font-size: 25px;
    margin-top: 630px;
    margin-left: 80px;
    
}

.ro{
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
}

.first{
    position: absolute;
    border-color: rgb(232, 232, 232);
    border-image: initial;
    border-radius:10px ;
    border: 1px solid gainsboro;
    left: 10px;
    padding-bottom: 13px;
    cursor: pointer;
}

.second{
    position: absolute;
    border-color: rgb(232, 232, 232);
    border-image: initial;
    border-radius:10px ;
    border: 1px solid gainsboro;
    left: 302px;
    padding-bottom: 13px;
    cursor: pointer;
}

.thrid{
    position: absolute;
    border-color: rgb(232, 232, 232);
    border-image: initial;
    border-radius:10px ;
    border: 1px solid gainsboro;
    left: 593px;
    padding-bottom: 13px;
    cursor: pointer;
}

.forth{
    position: absolute;
    border-color: rgb(232, 232, 232);
    border-image: initial;
    border-radius:10px ;
    border: 1px solid gainsboro;
    left: 884px;
    padding-bottom: 13px;
    cursor: pointer;
    
}

.down{
    margin-top: 940px;
    position: absolute;
}

.name{
    font-size: 38px;
    margin-left: 100px;
}

.up{
    margin-top: 410px; 
}

.tag{
    margin-left: 100px;
    font-size: 21px;
    font-weight: 300;
    color: rgb(54, 54, 54); 
}

.floor{
    padding-right: 60px;
    font-size: 25px;
   
}

.round{
    border-radius: 8px;
    cursor: pointer;
}

.ld{
    position: absolute;
    left: 30px;
    color: white;
    bottom: 20px;
    text-decoration: none;
}

.one{
    border-radius: 8px;
    position: absolute;
    margin-left: 90px;
    margin-top:50px ;
}

.two{
    position: absolute;
    margin-left: 382px;
    margin-top:50px ;
}

.three{
    position: absolute;
    margin-left: 674px;
    margin-top:50px ;
}

.four{
    position: absolute;
    margin-left: 966px;
    margin-top:50px ;
}

.hig{
    position: absolute;
    margin-top:880px ;
    font-size: 35px;
    left: 360px;
}

/*.hii{
    left: 500px;
    margin-top:-40px ;
    position: relative;
    font-weight: bold;

}*/

.loca{
    font-weight: 300;
    color: rgb(54, 54, 54); 
}

.bu{
    border: 1px solid gainsboro ; 
    border-radius: 10px;
    color: #000;
    height: 50px;
    width: 330px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    
     
}

.a{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 150px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:965px;
}

.b{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 550px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:965px;
} 

.c{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 950px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:965px;
}

.d{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 150px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1060px;
}

.e{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 550px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1060px;
}

.f{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 950px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1060px;
}

.g{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 150px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1155px;
}

.h{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 550px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1155px;
}

.i{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 950px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1155px;
}

.j{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 150px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1250px;
}

.k{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 550px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1250px;
}

.l{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 950px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1250px;
}

.m{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 150px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1345px;
}

.n{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 550px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1345px;
}

.o{
    font-size: 10px;
    border: 1px solid gainsboro ; 
    border-radius: 10px; 
    left: 950px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top:1345px;
    
}

.phone{
    margin-top:1600px;
    left: 300px;
    position: absolute;
    
      
}

.mk{
    margin-top:1620px;
    position: absolute;
    left: 610px;
    font-size: 50px;
   
}

.ak{
    margin-top:1700px;
    position: absolute;
    left: 610px;
    font-size: 19px;
    font-weight: 300;
    color: rgb(54, 54, 54); 
   
}

.bk{
    margin-top:1850px;
    position: absolute;
    left: 655px;
    font-size: 19px;
    color: gray;
}

.main{
    display: flex;
    flex-wrap: wrap;

}

.play{
    width: 14.7rem;
    height: 6rem;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top:1900px;
    position: absolute;
    left: 610px;
}


.explore{
    font-size: 31px;
    margin-top:2150px;
    position: absolute;
    left: 150px;
}

.popular{
    margin-top:2220px;
    position: absolute;
    left: 150px;
    font-size: 25px;
}

.near{
    margin-top:2270px;
    position: absolute;
    left: 150px;
    font-size: 18px;
    color: rgb(130, 130, 130);
    font-weight: lighter;
    text-decoration: none;
    
}


.res{
    margin-top:2430px;
    position: absolute;
    left: 150px;
    font-size: 25px;
}

.me{
    margin-top:2480px;
    position: absolute;
    left: 150px;
    font-size: 18px;
    color: rgb(130, 130, 130);
    font-weight: lighter;
    text-decoration: none;
    
}

.chains{
    margin-top:2640px;
    position: absolute;
    left: 150px;
    font-size: 25px;
}

.bi{
   
    font-size: 18px;
    
    
}

.bik{
    color: rgb(130, 130, 130);
    left: 150px;
    position: absolute;
    margin-top:2700px;
    text-decoration: none;

}

.blu{
    color: rgb(130, 130, 130);
    left: 350px;
    position: absolute;
    margin-top:2700px;
    text-decoration: none;
}

.bt{
    color: rgb(130, 130, 130);
    left: 560px;
    position: absolute;
    margin-top:2700px;
    text-decoration: none;
}

.bur{
    color: rgb(130, 130, 130);
    left: 760px;
    position: absolute;
    margin-top:2700px;
    text-decoration: none;
}

.ger{
    color: rgb(130, 130, 130);
    left: 980px;
    position: absolute;
    margin-top:2700px;
    text-decoration: none;
}

.del{
    font-size:25px ;
    left: 150px;
    position: absolute;
    margin-top:2900px;
    text-decoration: none;
}

.cr{
    color: rgb(130, 130, 130);
    left: 150px;
    position: absolute;
    margin-top:2960px;
    text-decoration: none;
}

.ko{
    color: rgb(130, 130, 130);
    left: 350px;
    position: absolute;
    margin-top:2960px;
    text-decoration: none;
}

.mum{
    color: rgb(130, 130, 130);
    left: 560px;
    position: absolute;
    margin-top:2960px;
    text-decoration: none;
}

.ru{
    color: rgb(130, 130, 130);
    left: 760px;
    position: absolute;
    margin-top:2960px;
    text-decoration: none;
}

.pu{
    color: rgb(130, 130, 130);
    left: 980px;
    position: absolute;
    margin-top:2960px;
    text-decoration: none;
}

.bo a{
    color: #000;
    font-size: 20px;
    text-decoration: underline;
    
}

.mato{
    left: 150px;
    position: absolute;
    margin-top:3500px;
    text-decoration: none;
    font-size: 45px;
}

.company {
    left: 150px;
    position: absolute;
    margin-top:3600px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    
}

.foo{
    left: 350px;
    position: absolute;
    margin-top:3600px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.nts{
    left: 560px;
    position: absolute;
    margin-top:3600px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.ou{
    left: 810px;
    position: absolute;
    margin-top:3600px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.nks{
    left: 980px;
    position: absolute;
    margin-top:3600px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.out a {
    left: 150px;
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
    margin-top:3630px;

}

.og a{
    left: 150px;
    position: absolute;
    margin-top:3655px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.car a{
    left: 150px;
    position: absolute;
    margin-top:3680px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.ort a{
    left: 150px;
    position: absolute;
    margin-top:3705px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.act a{
    left: 150px;
    position: absolute;
    margin-top:3730px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.code a{
    left: 350px;
    position: absolute;
    margin-top:3630px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.ity a{
    left: 350px;
    position: absolute;
    margin-top:3655px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.help a{
    left: 350px;
    position: absolute;
    margin-top:3680px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.per a{
    left: 350px;
    position: absolute;
    margin-top:3705px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.app a{
    left: 350px;
    position: absolute;
    margin-top:3730px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.ad a{
    left: 560px;
    position: absolute;
    margin-top:3630px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.list a{
    left: 560px;
    position: absolute;
    margin-top:3655px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.bus a{
    left: 560px;
    position: absolute;
    margin-top:3680px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
    
}

.wid a{
    left: 560px;
    position: absolute;
    margin-top:3705px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.pro a{
    left: 560px;
    position: absolute;
    margin-top:3730px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.vacy a{
    left: 810px;
    position: absolute;
    margin-top:3630px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.ms a{
    left: 810px;
    position: absolute;
    margin-top:3655px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.sec a{
    left: 810px;
    position: absolute;
    margin-top:3680px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.sit a{
    left: 810px;
    position: absolute;
    margin-top:3705px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 130, 130);
}

.india{
    height: 3.0015rem;
    transform: scale(0.488889);
    margin-left: -1.2rem;
    background-position: -141px 0px;
    border: 1px solid  rgb(130, 130, 130); 
    border-radius: 5px;
    bottom: 0.5px;
    width: 80px;
    height: 40px;
    margin-bottom: -40px;
    margin-left: -9px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    
}

.kk{
    left: 890px;
    position: absolute;
    margin-top:3510px;
}
.ind{
    position: absolute;
    border-color: rgb(232, 232, 232);
    border-image: initial;
    border-radius:5px ;
    border: 1px solid gainsboro;
    font-size: 20px;
    cursor: pointer;
    width: 135px;
    height: 40px;
    padding-left: 70px;
}

.ii{
    left: 1040px;
    position: absolute;
    margin-top:3510px;
}

.world{
    height: 3.0015rem;
    transform: scale(0.488889);
    margin-left: -1.2rem;
    background-position: -141px 0px;
    border: 1px solid  rgb(130, 130, 130); 
    border-radius: 5px;
    bottom: 0.5px;
    width: 80px;
    height: 40px;
    margin-bottom: -40px;
    margin-left: -9px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.wor{
    position: absolute;
    border-color: rgb(232, 232, 232);
    border-image: initial;
    border-radius:5px ;
    border: 1px solid gainsboro;
    font-size: 20px;
    cursor: pointer;
    width: 135px;
    height: 40px;
    padding-left: 70px;
}

.ios{
    width: 14.7rem;
    height: 6rem;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top:3650px;
    position: absolute;
    left: 925px;
}

.gg{
    left: 130px;
    position: absolute;
    margin-top:3830px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(130, 130, 130);
}

.se{
    position: absolute;
    top: 351.5px;
    margin-left: 897px;
    cursor: pointer;
}

.sit a::before{
    content: "";
    position: absolute;
    background: #29242405;
    cursor: auto;
    width: 10000px;
    height: 400px;
    top: -210px;
    right: -480px;
    z-index: -1
    /*background - colour*/
}

.sec a::before{
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    background: gainsboro;
    width: 1100px;
    top: 120px;
    right: -360px;
    /*background - line*/
}

.col::before{
    content: "";
    position: absolute;
    background: rgb(255, 251, 247);
    width: 1350px;
    height: 500px;
    top: 2150px;
    right: 0px;
    z-index: -1;
    /* phone-image background - colour   */
}


@media (max-width: 500px) {
   .main {
       width: 1340px;
       
   }
   .singup {
       position: absolute;
       left: 40px;
       top: -55px;
   }
   .login {
       position: absolute;
       top: -55px;
   }
   .best{
       font-size: 30px;
       position: absolute;
       right: -750px;
   }
   .zomato{
       left: 485px;
       position: absolute;
   }
   .text{
       position: absolute;
       left: 325px;
   }
   .se{
       position: absolute;
       left: -28px;
       top: 366.5px;
   }
   .tag{
       position: absolute;
       right: -475px;
       font-size: 17px;
   }
   .loca{
       position: absolute;
       right: -700px;
   }
   /*.hii{
       right: -700px;
       position: absolute;
       top: 40px; remove from loca tag
     */
   .mk{
       
       position: absolute;
       right: -920px;
   }
   .ak{
       position: absolute;
       right: -900px;
       font-size: 17px;
   }
   .bk{
       position: absolute;
       right: -460px;
   }
   .col::before{
       left: 0px;
       position: absolute;

   }
   .explore{
       right: -450px;
   }
   .popular{
       right: -450px;
   }
   .near{
       right: -900px;
   }
   .res{
    right: -450px;
   }
   .me{
    right: -1000px;
   }
   .chains{
    right: -450px;
   }
   .bi a{
       right: -790px;
   }
   .del{
       right: -450px;
   }
   .bo a{
       position: absolute;
       right: -495px;
   }
   .foo{
     position: absolute;
     right: -495px;
    }
   .nts{
     position: absolute;
     right: -495px;
    }
   .ou{
     position: absolute;
     right: -530px;
    }
   .nks{
     position: absolute;
     right: -790px;
    }
   .code a{
     position: absolute;
     right: -400px;
    }
   .help a{
     position: absolute;
     right: -400px;
    }
   .app a{
     position: absolute;
     right: -400px;
    }
   .ad a{
     position: absolute;
     right: -400px;
    }
   .list a{
     position: absolute;
     right: -400px;
    }
   .bus a{
     position: absolute;
     right: -400px;
    }
   .wid a{
     position: absolute;
     right: -400px;
    }
   .pro a{
     position: absolute;
     right: -400px;
    }
   .br{
     position: absolute;
     right: 530px;
     top: 0.1px;
     
    }
}   


@media(max-width: 1024px){
    .se{
        top: 351.5px;
        position: absolute;
       
    }
    .main{
        width: 1340px;
    }
    .best{
        left: 300px;
        top: 280px;
    }
    .login {
        bottom: -15px;
        position: absolute;
        right: 20px;
    }
    .singup {
        bottom: -15px;
        position: absolute;
        right: -50px;
    }
    .go{
        top: 25px;
        position: absolute;
        
    }
    .text {
        position: absolute;
        top: 350px;
        height: 45px;
    }
    .zomato{
        top: 160px;
    }
    .mk{
       
        position: absolute;
        right: -920px;
    }
    .ak{
        position: absolute;
        right: -900px;
        font-size: 17px;
    }
    .bk{
        position: absolute;
        right: -460px;
    }
    .col::before{
        right: -328px;
    }
    .bi a{
        right: -790px;
    }
    .nks{
        position: absolute;
        right: -790px;
    }
    .gg{
        position: absolute;
        right: -790px;
    }
    
}





















     
     

















