*{margin: 0; padding: 0;  font-family: "public sans", sans-serif;}
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400&display=swap");

body{
    background-color: #f7f7f7;
}
.set-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0 3px 10px rgba(32, 33, 36, 0.28);
}
.language{
    border: 2px solid #772386;
    background-color: #ffffff ;
    color: #772386 ;
    border-radius: 5px;
    font-family: inherit;
    padding: 5px;
    font-size: inherit
}
.fa-angle-down{
    padding-left: 30px;
}
.set-dr-name{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.Welcome{
   margin-bottom: 10px;
   margin-top: 30px;
   font-weight: lighter;
   display: flex;
   justify-content: center;
   color: gray;
}
.set-booking-tag{
    font-weight: 100;
   display: flex;
   justify-content: center;
   color: gray;
   margin-top: 10px;
   font-size: 15px;
   padding-bottom: 90px;
}
.set-img{
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: top;
    border: 2px solid #eeeeee;
    align-items: center;
    margin-top: 30px;
    margin-top: -53px;
}
.center-img{
    display: flex;
    justify-content: center;
}
.set-color-white{
    background-color: white;
}
.card-box{
    padding: 16px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    margin: 16px;
    margin-top: 80px;
    background-color: white;
    width: 916px;
    padding-bottom: 40px;
} 
footer{
    display: flex;
    justify-content: center;
}
.set-card-name{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #575757;
}
h6{
    font-size: 12px;
    text-transform: capitalize;
    color: #575757;
    padding-bottom: 8px;
}
p{
    font-size: 16px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 100;
}
.set-id-next{
    padding-left: 810px;
}
.set-id-2{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
.set-id-next-two{
    padding-left: 772px;
}
.set-fdd{
    padding-left: 64px;
}
.set-specialty{
    padding-left: 10px;
}
.last-button{
    background-color: #772386;
    color: #ffffff;
    width: 962px;
    border-radius: 5px;
    border: none;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.set-button{
    display: flex;
    justify-content: center;
}
.last-button:hover {
    background-color: #e18e00;
}
.fa-arrow-right{
 padding-left: 10px;
}


    
